.navbar{
    width: 100vw;
    height: 40px;
    /* border: 1px solid #000000; */
}
button{
    padding: 5px 9%;
    margin: 0;
    text-align: start;
    color: black;
    background-color: hotpink;
}
main{
    display: flex;
    justify-content: space-between;
    height: 300px;
}

div{
    
}
}
footer{
    border-top: solid black 1px;
}
@media only screen and (max-width: 1300px) and (min-width: 700px){
    button{
        padding: 5px 9%
    }
    .derecha{
    flex-wrap: wrap;
    }
}